body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 81rem;
    text-align: center;
    background-color: black;
}
.progress-container {
    width: 81rem;
    height: 0.5rem;
    background: #ccc;
  }
  
.progress-bar {
    height: 0.5rem;
    background: #aa4604;
    width: 0%;
  }
h1{
    color: white;
    text-align: center;
}
.item-quote{
    grid-area: image;
    font-size: 3rem;
    background-color: transparent;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 43.75rem;
}
.item-experience{
    grid-area: experience;
    width: 13.75rem;
    background-color: coral;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 1.2rem;
    cursor: pointer;
}
.item-headername{
    grid-area: headername;
}
.item-projects {
    grid-area: projects;
    width: 13.75rem;
    background-color: rgb(244, 62, 110);
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 1.2rem;
    cursor: pointer;
}
.item-certificates{
    grid-area: certificates;
    width: 13.75rem;
    background-color: #3eb489;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 1.2rem;
    cursor: pointer;
}
/* .item-img{
    grid-area: img;
} */
.item-skills{
    grid-area: skills;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item-company{
    grid-area: company;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item-skillsbar{
    grid-area: skillsbar;
    width: auto;

}
.item-logos{
    grid-area:logo ;

}

.grid-container{
    padding: 1rem;
    margin: 5.3rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-areas: 
    'image image image skillsbar skillsbar skillsbar'
    'image image image skillsbar skillsbar skillsbar'
    'image image image skillsbar skillsbar skillsbar'
    'headername headername headername skillsbar skillsbar skillsbar'
    'company company company skillsbar skillsbar skillsbar'
    'skills skills skills skillsbar skillsbar skillsbar'
    'logo logo logo skillsbar skillsbar skillsbar'
    'experience projects certificates skillsbar skillsbar skillsbar'
    'experience projects certificates skillsbar skillsbar skillsbar';
    gap: 0.7rem;
}

.grid-container > div {
    color: white;
  }
.linkedIN{
    background-color: #0A66C2;
    border: 0.1rem solid #0A66C2;
    color: white;
    height: 2rem;
    cursor: pointer;
    border-radius: 0.25rem;
}
.github{
    background-color: green;
    border: 0.1rem solid green;
    color: white;
    height: 2rem;
    cursor: pointer;
    border-radius: 0.25rem;
}
.Download{
    background-color: red;
    border: 0.1rem solid red;
    color: white;
    height: 2rem;
    cursor: pointer;
    border-radius: 0.25rem;
}
.linkedIN:hover{
    background-color: transparent;
    color: white;
}
.github:hover{
    background-color: transparent;
    color: white;
}
.Download:hover{
    background-color: transparent;
    color: white;
}
.component-two{
    color: white;
    margin-top: 2rem;
}
.item-certificates:hover{
    background-color: transparent;
    border: 0.1rem solid #3eb489;
}
.item-experience:hover{
    background-color: transparent;
    border: 0.1rem solid coral;
}
.item-projects:hover{
    background-color: transparent;
    border: 0.1rem solid rgb(244, 62, 110);
}
.heading{
    text-align: center;
}
footer{
    color: white;
    text-align: center;
}
.box{
    background-color: aliceblue;
    height: 0.1rem;
    width: auto;
}
/* down arrow*/
.down-arrow {
    position: absolute;
    top: calc(50rem - 4rem);
    left: calc(40rem - 1rem);
    color: aliceblue;
  }

  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 2rem;
    }
    100% {
      margin-top: 0;
    }
  }
  .down-arrow {
     /* rest of the styles from above */
    animation: jumpInfinite 1.5s infinite;
  }
/* scroll transitions */
.hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-5.3rem);
    filter: blur(0.2rem);
}
.show{
    opacity: 1;
    filter: blur(0rem);
    transform: translateX(0rem);
}

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}

/* skills bar */
@keyframes javaProgress {
    from { width: 0; } 
    to { width: 70%; } 
  }
  
  @keyframes webProgress {
    from { width: 0; }
    to { width: 70%; }
  }
  
  @keyframes jsProgress {
    from { width: 0; }
    to { width: 60%; }
  }
  
  @keyframes mysqlProgress {
    from { width: 0; }
    to { width: 70%; }
  }

  @keyframes ctProgress {
    from { width: 0; }
    to { width: 65%; }
  }
  
  /* Define animations for other skills here */
  
  .container {
    width: 100%;
    background-color: #ddd;
  }
  
  .skills {
    text-align: right;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color: white;
    width: 0; 
    animation: progress 3s ease-in-out forwards; 
  }
  
  .java {
    animation: javaProgress 3s ease-in-out forwards; 
    background-color: #04AA6D;
  }
  
  .web {
    animation: webProgress 3s ease-in-out forwards; 
    background-color: #2196F3;
  }
  
  .js {
    animation: jsProgress 3s ease-in-out forwards; 
    background-color: #f48b36;
  }

  .mysql{
    animation: mysqlProgress 3s ease-in-out forwards; 
    background-color: #96a00e;
  }

  .ct{
    animation: ctProgress 3s ease-in-out forwards; 
    background-color: #ed515b;
  }
  
  
  
