body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
h1{
    text-align: center;
    color: white;
}
header{
    position: fixed;
    background-color: black;
    width: 100%;
}
.progress-container {
    width: 81rem;
    height: 0.5rem;
    background: #ccc;
}
.progress-bar {
    height: 0.5rem;
    background: #aa4604;
    width: 0%;
  }
.container{
    display: flex;
    flex-direction: row;
}
.flex-container-1{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-top: 6rem;
}
.flex-container-2{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 6rem;
    
}
.flex-container-3{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.image{
    margin-left: 25%;
}
.experience{
    width: 13.75rem;
    background-color: coral;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 1.2rem;
    cursor: pointer;
}
.projects {
    width: 13.75rem;
    background-color: rgb(244, 62, 110);
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 1.2rem;
    cursor: pointer;
}
.certificates{
    width: 13.75rem;
    background-color: #3eb489;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 1.2rem;
    cursor: pointer;
}
.certificates:hover{
    background-color: transparent;
    border: 0.1rem solid #3eb489;
}
.experience:hover{
    background-color: transparent;
    border: 0.1rem solid coral;
}
.projects:hover{
    background-color: transparent;
    border: 0.1rem solid rgb(244, 62, 110);
}
.name{
    margin-top:1rem ;
}
.skills-flex{
    margin-top:1rem ;
}
.company{
    margin-top: 1rem;
}
.linkedIN{
    background-color: transparent;
    border: 0.2rem solid #0A66C2;
    color: white;
    height: 2rem;
    cursor: pointer;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.github{
    background-color: transparent;
    border: 0.2rem solid green;
    color: white;
    height: 2rem;
    cursor: pointer;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.Download{
    background-color: transparent;
    border: 0.2rem solid red;
    color: white;
    height: 2rem;
    cursor: pointer;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.linkedIN:hover{
    background-color: #0A66C2;
    color: white;
}
.github:hover{
    background-color: green;
    color: white;
}
.Download:hover{
    background-color: red;
    color: white;
}
.component-two{
    color: white;
    margin-top: 2rem;
}
.heading{
    text-align: center;
}
footer{
    color: white;
    text-align: center;
}
.box{
    background-color: aliceblue;
    height: 0.3rem;
    width: auto;
}
/* skills bar */
@keyframes javaProgress {
    from { width: 0; } 
    to { width: 70%; } 
  }
  
  @keyframes webProgress {
    from { width: 0; }
    to { width: 70%; }
  }
  
  @keyframes jsProgress {
    from { width: 0; }
    to { width: 60%; }
  }
  
  @keyframes mysqlProgress {
    from { width: 0; }
    to { width: 70%; }
  }

  @keyframes ctProgress {
    from { width: 0; }
    to { width: 65%; }
  }
  
  /* Define animations for other skills here */
  
  .skill-container {
    width: 90%;
    background-color: #ffffff;
  }
  
  .skills {
    text-align: right;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color: white;
    width: 0; 
    animation: progress 3s ease-in-out forwards; 
  }
  
  .java {
    animation: javaProgress 3s ease-in-out forwards; 
    background: linear-gradient(45deg,
    rgb(1, 255, 1) 0%,
    rgb(0, 209, 0) 25%,
    rgb(0, 173, 0) 50%,
    rgb(0, 158, 0) 75%,
    rgb(0, 106, 0) 100%);
  }
  
  .web {
    animation: webProgress 3s ease-in-out forwards; 
    background: linear-gradient(45deg,
    rgb(1, 120, 255) 0%,
    rgb(1, 101, 214) 25%,
    rgb(1, 80, 171) 50%,
    rgb(0, 72, 153) 75%,
    rgb(0, 55, 118) 100%);
  }
  
  
  .js {
    animation: jsProgress 3s ease-in-out forwards; 
    background: linear-gradient(45deg,
    rgb(255, 183, 0) 0%,
    rgb(218, 156, 0) 25%,
    rgb(192, 138, 0) 50%,
    rgb(159, 114, 0) 75%,
    rgb(141, 101, 0) 100%);
  }
  
  .mysql{
    animation: mysqlProgress 3s ease-in-out forwards; 
    background: linear-gradient(45deg,
    rgb(251, 129, 255) 0%,
    rgb(250, 109, 255) 25%,
    rgb(249, 79, 255) 50%,
    rgb(248, 31, 255) 75%,
    rgb(195, 0, 201) 100%);
  }

  .ct{
    animation: ctProgress 3s ease-in-out forwards; 
    background: linear-gradient(45deg,
    rgb(255, 95, 95) 0%,
    rgb(255, 68, 68) 25%,
    rgb(255, 52, 52) 50%,
    rgb(255, 31, 31) 75%,
    rgb(201, 0, 0) 100%);
  }
  
  @media (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .experience{
        width: 5.5rem;
        height: 3rem;
        background-color: coral;
        font-size: 0.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: bold;
        border-radius: 0.2rem;
        cursor: pointer;
    }
    .experience > svg{
        height: 2rem;
        width: 2rem;
    }
    .projects{
        width: 5.5rem;
        height: 3rem;
        background-color: rgb(244, 62, 110);
        font-size: 0.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: bold;
        border-radius: 0.2rem;
        cursor: pointer;
    }
    .projects > svg{
        height: 2rem;
        width: 2rem;
    }
    .certificates{
        width: 5.5rem;
        height: 3rem;
        background-color: #3eb489;
        font-size: 0.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: bold;
        border-radius: 0.2rem;
        cursor: pointer;
    }
    .certificates > svg{
        height: 2rem;
        width: 2rem;
    }
    .skill-container {
        width: 200%;
        background-color: #ffffff;
      }
    .flex-container-1{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 5rem;
    }
    /* skills bar */
@keyframes javaProgress {
    from { width: 0; } 
    to { width: 70%; } 
  }
  
  @keyframes webProgress {
    from { width: 0; }
    to { width: 70%; }
  }
  
  @keyframes jsProgress {
    from { width: 0; }
    to { width: 60%; }
  }
  
  @keyframes mysqlProgress {
    from { width: 0; }
    to { width: 70%; }
  }

  @keyframes ctProgress {
    from { width: 0; }
    to { width: 65%; }
  }
  
  /* Define animations for other skills here */
  
  .skill-container {
    width: 200%;
    background-color: #ffffff;
  }
  
  .skills {
    text-align: right;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    color: white;
    width: 0; 
    animation: progress 3s ease-in-out forwards; 
  }
  
  .java {
    animation: javaProgress 3s ease-in-out forwards; 
    background: linear-gradient(45deg,
    rgb(1, 255, 1) 0%,
    rgb(0, 209, 0) 25%,
    rgb(0, 173, 0) 50%,
    rgb(0, 158, 0) 75%,
    rgb(0, 106, 0) 100%);
  }
  
  .web {
    animation: webProgress 3s ease-in-out forwards; 
    background: linear-gradient(45deg,
    rgb(1, 120, 255) 0%,
    rgb(1, 101, 214) 25%,
    rgb(1, 80, 171) 50%,
    rgb(0, 72, 153) 75%,
    rgb(0, 55, 118) 100%);
  }
  
  
  .js {
    animation: jsProgress 3s ease-in-out forwards; 
    background: linear-gradient(45deg,
    rgb(255, 183, 0) 0%,
    rgb(218, 156, 0) 25%,
    rgb(192, 138, 0) 50%,
    rgb(159, 114, 0) 75%,
    rgb(141, 101, 0) 100%);
  }
  
  .mysql{
    animation: mysqlProgress 3s ease-in-out forwards; 
    background: linear-gradient(45deg,
    rgb(251, 129, 255) 0%,
    rgb(250, 109, 255) 25%,
    rgb(249, 79, 255) 50%,
    rgb(248, 31, 255) 75%,
    rgb(195, 0, 201) 100%);
  }

  .ct{
    animation: ctProgress 3s ease-in-out forwards; 
    background: linear-gradient(45deg,
    rgb(255, 95, 95) 0%,
    rgb(255, 68, 68) 25%,
    rgb(255, 52, 52) 50%,
    rgb(255, 31, 31) 75%,
    rgb(201, 0, 0) 100%);
  }
    
}
